ASCIIChart BITMAP "ASCIIChart.bmp" 
BackupProject BITMAP "BackupProject.bmp" 
ClassBrowser BITMAP "ClassBrowser.bmp" 
CleanDirectories BITMAP "CleanDirectories.bmp" 
ClipboardHistory BITMAP "ClipboardHistory.bmp" 
CodeFormatter BITMAP "CodeFormatter.bmp" 
CodeLibrarian BITMAP "CodeLibrarian.bmp" 
CodeProofreader BITMAP "CodeProofreader.bmp" 
ComponentDropDown BITMAP "ComponentDropDown.bmp" 
ComponentGrid BITMAP "ComponentGrid.bmp" 
ComponentsToCode BITMAP "ComponentsToCode.bmp" 
CopyComponentNames BITMAP "CopyComponentNames.bmp" 
EditorExpertsMenu BITMAP "EditorExpertsMenu.bmp" 
ExpertManager BITMAP "ExpertManager.bmp" 
FavoriteFiles BITMAP "FavoriteFiles.bmp" 
FindComponentReference BITMAP "FindComponentReference.bmp" 
FormDropDown BITMAP "FormDropDown.bmp" 
GrepResults BITMAP "GrepResults.bmp" 
GrepSearch BITMAP "GrepSearch.bmp" 
HideComponents BITMAP "HideComponents.bmp" 
IDEMenuShortcuts BITMAP "IDEMenuShortcuts.bmp" 
MacroLibrary BITMAP "MacroLibrary.bmp" 
MessageDialog BITMAP "MessageDialog.bmp" 
OpenFile BITMAP "OpenFile.bmp" 
PEInformation BITMAP "PEInformation.bmp" 
PerfectLayout BITMAP "PerfectLayout.bmp" 
PositionDropDown BITMAP "PositionDropDown.bmp" 
ProcedureList BITMAP "ProcedureList.bmp" 
ProjectDependencies BITMAP "ProjectDependencies.bmp" 
ProjOptionSets BITMAP "ProjOptionSets.bmp" 
RenameComponents BITMAP "RenameComponents.bmp" 
ReplaceComponents BITMAP "ReplaceComponents.bmp" 
SelectComponents BITMAP "SelectComponents.bmp" 
SetComponentProperties BITMAP "SetComponentProperties.bmp" 
SetFocusControl BITMAP "SetFocusControl.bmp" 
SetTabOrder BITMAP "SetTabOrder.bmp" 
SourceExport BITMAP "SourceExport.bmp" 
TAlignExpert BITMAP "TAlignExpert.bmp" 
TChangeCaseExpert BITMAP "TChangeCaseExpert.bmp" 
TCommentExpert BITMAP "TCommentExpert.bmp" 
TCopyRawStringsExpert BITMAP "TCopyRawStringsExpert.bmp"
TCopyUnquotedExpert BITMAP "TCopyUnquotedExpert.bmp" 
TDateExpert BITMAP "TDateExpert.bmp" 
TCodeFormatterExpert BITMAP "TCodeFormatterExpert.bmp"
TLocateDelimiter BITMAP "TLocateDelimiter.bmp" 
TMacroTemplatesExpert BITMAP "TMacroTemplatesExpert.bmp" 
TMoveToDelimiter BITMAP "TMoveToDelimiter.bmp" 
TNextIdentExpert BITMAP "TNextIdentExpert.bmp" 
ToDoList BITMAP "ToDoList.bmp" 
TPasteAsExpert BITMAP "TPasteAsExpert.bmp"
TPasteQuotedExpert BITMAP "TPasteQuotedExpert.bmp" 
TPrevIdentExpert BITMAP "TPrevIdentExpert.bmp" 
TQuoteExpert BITMAP "TQuoteExpert.bmp" 
TConvertRawStringsExpert BITMAP "TConvertRawStringsExpert.bmp"
TReverseStatementExpert BITMAP "TReverseStatementExpert.bmp" 
TSelectIdentifierExpert BITMAP "TSelectIdentifierExpert.bmp" 
TSortExpert BITMAP "TSortExpert.bmp" 
TUnCommentExpert BITMAP "TUnCommentExpert.bmp" 
TUnquoteExpert BITMAP "TUnquoteExpert.bmp" 
TUsesExpert BITMAP "TUsesExpert.bmp" 
UnitDropDown BITMAP "UnitDropDown.bmp" 
Unspecified BITMAP "Unspecified.bmp" 
UsesDropDown BITMAP "UsesDropDown.bmp" 
